@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap');

.for {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: -18px;
}

 input {
  width: 25vw;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
input[type="text"]{
    margin-top: 6px;
    margin-bottom: 16px;

}

input[type="number"]{
    margin-top: 8px;
    margin-bottom: 18px;
}
.name{
    margin-top: 5px;
}
.email{
    margin-top: -4px;
}
.numbers{
    margin-top: 13px;
    
}
.tearea{
    margin-top: 12px;
    width: 25vw;
    height: 15vh;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
input[type="submit"]{
    width: 7vw;
    border: 2px solid #524a4a;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 22px;

}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(194, 145, 240);
}